*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#picture {
    height: 50px;
    width: 50px;
}

header {
    background: linear-gradient(90deg,pink,violet,plum);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

li,a,button {
    font-family: "high tower text";
    font-weight: 800;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#navigation {
    list-style: none;
}

#navigation li {
    display: inline-block;
    padding: 0px 10px;
}

.space {
    background-color: white;
    height: 5px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(pink_cloud.jpg);
    height: 578px;
    
}

h1 {
    font-family: "high tower text";
    color: white;
}

h2 {
    font-family: "Century schoolbook";
    color: black;
}

h3 {
    font-family: "Century schoolbook";
    color: black;
    font-size: 1.5vw;
}

#welcome {
    width: 50%;
    padding-left: 100px;
}

#pictwelcome {
    width: 40%; 
}

#pictwelcome img {
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
}

.course {
    background-color: violet;
    height: 500px;
    padding-left: 100px;
    padding-top: 50px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.coursetype {
    text-align: center;
    margin-top: 3%;
    width: 20%;
}

.coursetype img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    
}

.message {
    background-color: pink;
    height: 500px;
    padding-left: 100px;
    padding-top: 50px;
}

.Profile {
    height: 1000px;
    background-image: url(/Assets/arrangement.jpg);
}

.About {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 3%;
}

.visionmission {
    display: flex;
    justify-content: center;
    align-items: center;
}

