*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#picture {
    height: 50px;
    width: 50px;
}

header {
    background: linear-gradient(90deg,pink,violet,plum);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

li,a,button {
    font-family: "high tower text";
    font-weight: 800;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#navigation {
    list-style: none;
}

#navigation li {
    display: inline-block;
    padding: 0px 10px;
}

.space {
    background-color: white;
    height: 5px;
}

.banner {
    background-color: plum;
    height: 578px;
    padding-left: 30px;
    padding-top: 30px;
    
}

h1 {
    font-family: "high tower text";
    color: white;
}