#picture {
    height: 50px;
    width: 50px;
}

header {
    background: linear-gradient(90deg,pink,violet,plum);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#picture {
    cursor: pointer;
    margin-right: auto;
}

#navigation div {
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    color: black;
    border: 2px solid;
}